html {
    box-sizing: border-box;
    background:grey;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
.container {
    background: white;
    height: 900px;
    width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.gridBox {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}